.container {
  width: 350px;
  min-height: 400px;
  color: #314d3e;
  padding: 10px;
}

.title {
  font-size: 16px;
  font-weight: bold;
  padding: 12px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.bookmarks {
  margin: 10px 5px;
  padding: 5px;
  max-height: 320px; 
  overflow-y: auto;  
}

.bookmark {
  display: flex;
  border-bottom-color: #00254d;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-radius: 0.8rem;
  padding: 8px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}


.bookmarks::-webkit-scrollbar {
  width: 6px;
}

.bookmarks::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.bookmarks::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

.bookmarks::-webkit-scrollbar-thumb:hover {
  background: #555;
}